<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">


        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="executive-summary" itemprop="description">
          <p> Hi, I am Dereje Kifle. I am a mathematician specilalising in Computer Algebra, Commutative Algebra and Algebraic Geometry. In Aug 2016, I received a PhD in Mathematics from University of Kaiserslautern, Germany.
			Have a look at my <a href="_layouts/resume.html"> resume </a>, <a href="docs/cv.pdf"> pdf </a>
          </p>
        </div>

      </header>


      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name"> Will be updated soon</h3>
          
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://donutlocator.io">Will be updated soon </a></h3>
          
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Will be updated soon </h3>
      
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Will be updated soon</h4>
        
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Will be updated soon</h4>
          
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Will be updated soon</h4>
     
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Will be updated soon</h3>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Will be updated soon</h3>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Will be updated soon </h3>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Will be updated soon</a></h3>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Will be updated soon</h3>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>


      </section>
      <!-- end Links -->
      {% endif %}

    </div>

  </body>

</html>
